.hero{
    display:flex;
    background-color: var(--hero-bg-color);
    padding: 30px 0 30px 0;
    justify-content: space-evenly;
}

.header{
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 30px;
    color: var(--text-color);
    margin-bottom: 5px;
    margin-top: 10px;
}

.barChart{
    display:flex;
    justify-content: space-around;
    align-items: center;
}