:root {
  --card-bg-color: #9B9B9B;
  --wallet-button-gradient: linear-gradient(to right, #B5DC52, #89E148);
  --expense-button-gradient: linear-gradient(90deg, #FF9595 0%, #FF4747 80%, #FF3838 100%);
  --text-color: #FFFFFF;
  --hero-bg-color: #626262;
  --modal-bg-color: #EFEFEFD9;

  --input-bg-color: #FFFFFF;
  --input-text-color: #919191;
  --add-btn-bg: #F4BB4A;
  --add-btn-text: #FFFFFF;
  --cancel-btn-bg: #D9D9D9;
  --cancel-btn-text: #000000;
}

body {
  background-color: #3B3B3B;
  margin: 0;
  font-family: 'Ubuntu';
  /* font-size: 22px; */
}
